body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo-cursive {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.header-menu-link {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #2e2f42;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-item :hover {
    color: #404bbf;
}
.header-menu-item :focus {
    color: #404bbf;
}

.address-contact {
    font-style: normal;
    margin-left: auto;
}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: '';
    color: #404bbf;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
} 

.header-menu-item {
    display: block;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.header-contact :hover {
    color: #404bbf;
}

.header-contact :focus {
    color: #404bbf;
}

.section-one {
    background-color: #2e2f42;
}

.solutions-title {
    font-size: 56px;
line-height: 107%;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
max-width: 496px;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;
}

.solutions-buy-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #ffffff; 
    margin: 0 auto; 
}

.solutions-buy-btn:hover {
background-color: #404bbf;
}

.solutions-buy-btn:focus {
background-color: #404BBF;
} 

.solutions-buy-btn {
    cursor: pointer;
    display: block;
}

.strategy-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2e2f42 ;
margin-bottom: 8px;
}

.qualities-strategy {
line-height: 1.5;
letter-spacing: 0.02em;
margin: 0;
}

.team {
    background-color: #F4F4FD;
}

.team-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
margin: 0;
}

.gallery {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #FFFFFF;
}

.our-team-network-list {
display: flex;
gap: 24px;
margin-top: 8px;
align-items: center;
justify-content: center;
}

.item {
width: 40px;
height: 40px;
}

.our-team-link {
width: 100%;
height: 100%;
background-color: #4d5ae5;
color: #F4F4FD;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-link:focus {background-color: #404bbf;
}
.our-team-link:hover {background-color: #404bbf;
}

.our-team-svg {
    fill: #F4F4FD;
}

.section-heading {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}

.app-title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 72px;
}

.app-text {
line-height: 1.5;
letter-spacing: 0.02em;
margin: 0;
}

.footer {
background-color: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-cursive {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
}

.img {
    display: block;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 76px;
}

.header-menu-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.header-menu-link {
    padding: 24px 0 24px;
}

.header-contact-list {
    display: flex;
    gap: 40px;
}

.header-contact {
    display: flex;
    gap: 40px;
}

.section-one { 
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/peopleoffice1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    padding: 188px 0 188px;
    margin: 0 auto;
}

.solutions-buy-btn {
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.qualities {
    padding: 120px 0 120px;
}

.icon-block {
    display: flex;
    align-items: center;
    padding: 24px 100px;
    justify-content: center;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    height: 112px;
}

.list-qualities {
    display: flex;
    gap: 24px;
}

.qualities-items {
    flex-basis: calc(( 1128px - 72px ) / 4 );
}

.team {
    padding: 120px 0;
}

.team-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.gallery {
    width: 264px;
    /* width:calc((100% - 72px) / 4); */
    border-radius: 0px 0px 4px 4px;
}

.portfolio-item {
    padding: 32px 0;
}

.section-heading {
    text-align: center;
    margin-bottom: 8px;
}

.text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0;
}

.our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.app {
    width: calc((100% - 48px) / 3);
}

.app-item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.app-title {
    margin-bottom: 8px;
}

.footer {
    padding: 100px 0;
}

.footer-logo {
    margin-bottom: 16px;
    display: inline-block;
}

.footer-text {
    max-width: 264px;
    margin: 0;
}