body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo-cursive{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.header-menu-link {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #2e2f42;
}

.header-menu-item :hover {
    color: #404bbf;
}
.header-menu-item :focus {
    color: #404bbf;
}

.address-contact {
    font-style: normal;
}

.header-menu-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-contact :hover {
    color: #404bbf;
}

.header-contact :focus {
    color: #404bbf;
}

.section-one {
    background-color: #2e2f42;
}

.solutions-title {
    font-size: 56px;
line-height: 107%;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
}

.solutions-buy-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #ffffff;  
}

.solutions-buy-btn:hover {
background-color: #404bbf;
}

.solutions-buy-btn:focus {
background-color: #404BBF;
} 

.solutions-buy-btn {
    cursor: pointer;
}

.strategy-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2e2f42 ;
}

.qualities-strategy {
line-height: 1.5;
letter-spacing: 0.02em;
}

.team {
    background-color: #F4F4FD;
}

.team-title {
    font-weight: 500;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
}

.gallery{
    background-color: #FFFFFF;
}

.section-heading {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.text{
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
}

.app-title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.app-text {
line-height: 1.5;
letter-spacing: 0.02em;
}

.footer {
background-color: #2e2f42;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-cursive{
    color: #f4f4fd;
}

.footer-text{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
}

.img {
    display: block;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.container {
    width: 1158px;
    margin: 0 auto;
    display: flex;
    padding: 0 15px 0 15px;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 76px;
}

.header-menu-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.header-menu-link {
    padding: 24px 0 24px;
}

.header-contact-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.header-contact {
    display: flex;
    gap: 40px;
}

.section-one {
    padding: 188px 0 188px;
}

.solutions-title {
    max-width: 496px;
}

.solutions-buy-btn {
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.qualities {
    padding: 120px 0 120px;
}

.list-qualities {
    display: flex;
    gap: 24px;
}

.qualities-items {
    width: calc(( 100% - 3 * 24px ) / 4);
}

.strategy-title {
    margin-bottom: 8px;
}